{% load static %}
<!DOCTYPE html>
<head>
    <title>Rabbit Health</title>
    <link rel="stylesheet" href="{% static 'mainpage.css' %}">
    <!--<py-script src="{% static 'mainpage_loader.py' %}"></py-script>-->
</head>
<body>
    <h1>Rabbit Dashboard</h1>
    <div id="left">
        <h2>Movement</h2>
        <h3>Cinny</h3>
        <!--<img src="{% static 'cinny_movement.jpg' %}">-->
        <h3>Cleo</h3>
        <!--<img src="{% static 'cleo_movement.jpg' %}">-->
    </div>
    <div id="right">
        <h2>Last Picture</h2>
        <img src="{% static 'recent_pic.jpg' %}">
        <h2>Daily Gif</h2>
        <!--<img src="{% static 'daily.gif' %}">-->
    </div>
</body>
